* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#home main {
  position: relative;
  overflow: hidden;
}
#home nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #f8f8ff;
  font-family: "Quicksand", sans-serif;
}
#home .logo {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
}
#home .nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
#home .nav-links li {
  list-style: none;
}
#home .nav-links a,
#home .nav-links a:active {
  color: #f8f8ff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
#home .nav-links a:hover {
  color: #F34A4A;
}
#home .burger {
  display: none;
  cursor: pointer;
}
#home .burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
}
@media screen and (max-width: 768px) {
  #home body {
    overflow-x: hidden;
  }
  #home .nav-links {
    position: absolute;
    right: 0px;
    height: 82vh;
    top: 8vh;
    background-color: #4682b4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  #home .nav-links li {
    opacity: 0;
  }
  #home .nav-active {
    transform: translateX(0%);
    z-index: 999;
  }
  #home .burger {
    display: block;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
#home .front-page {
  height: 82vh;
  text-align: center;
  color: #f8f8ff;
  background: #396afc;
}
#home .front-page h1 {
  margin: 0;
  top: 8vh;
  position: relative;
  font-size: 70px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
}
#home .front-page h2 {
  position: relative;
  font-family: "EB Garamond", serif;
  width: 100%;
  top: 24vh;
}
#home .front-page ul {
  display: flex;
  list-style: none;
  position: relative;
  top: 50%;
  justify-content: space-evenly;
}
#home .about-page div img {
  justify-content: center;
  max-width: 90%;
  height: auto;
  margin: 0px 20px;
}
#home .about-page a {
  color: black;
  text-decoration: none;
}
#home .about-page a:hover {
  color: #f8f8ff;
  background: #e2fc39;
}
#home .about-page h1 {
  margin: 20px;
  font-family: "Pacifico", cursive;
  font-size: 70px;
  text-align: right;
}
#home .about-page h2 {
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
  text-align: center;
  margin: 80px;
  font-size: 22px;
}
#home .about-page h3 {
  margin: 80px;
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
  font-size: 20px;
  position: relative;
}
#home .about-page h4 {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 14px;
  padding: 20px;
}
#home .about-page ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0px 0px 40px 0px;
}
#home .projects-page div img {
  justify-content: center;
  max-width: 90%;
  height: auto;
  margin: 0px 20px;
}
#home .projects-page h1 {
  margin-left: 40px;
  font-family: "Pacifico", cursive;
  font-size: 70px;
}
#home .projects-page h2 {
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
  font-size: 20px;
}
#home .projects-page img {
  margin-left: 0;
}
#home .projects-page .container {
  position: relative;
  width: 100vw;
}
#home .projects-page .image {
  display: block;
  width: 100vw;
  height: auto;
}
#home .projects-page .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}
#home .projects-page .container:hover .overlay {
  opacity: 1;
}
#home .projects-page .text {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  font-family: "EB Garamond", serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#home .contact-page {
  margin-top: 20px;
}
#home .contact-page form {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
#home .contact-page .MyButton {
  width: 120px;
  padding: 15px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 150%;
  background: #3366cc;
  color: #fff;
  border: 1px solid #3366cc;
  border-radius: 20px;
}
#home .contact-page .MyButton:hover {
  color: #ffff00;
  background: #000;
  border: 1px solid #fff;
}
#home .contact-page h1 {
  margin: 0;
  font-family: "Pacifico", cursive;
  font-size: 70px;
  text-align: center;
}
#home .contact-page ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#home .credits p {
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
  margin-top: 80px;
  margin-left: 5px;
}

#resume h1 {
  font-size: 200%;
  margin-left: 10px;
}
#resume .employment-history {
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
}
#resume .job-description {
  background-color: rgba(230, 230, 230, 0.913);
  margin-right: 10px;
  margin-left: 30px;
}
#resume .job-title {
  display: grid;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 10px;
}
#resume .credits-categories {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  margin-bottom: 20px;
}
#resume .credits-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
#resume .credits-list ul {
  list-style: none;
}
#resume .qualifications {
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
}
#resume .qualifications ul {
  display: grid;
  list-style: none;
  padding: 10px;
}
#resume .referees {
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
}
#resume .referees ul {
  display: grid;
  list-style: none;
  padding: 10px;
}
#resume .referee-details {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}
#resume .referees img {
  margin-bottom: 20px;
}

#blog-home {
  background: #262F34;
  height: 100vh;
}
#blog-home fieldset {
  position: relative;
  top: 8vh;
  margin-left: 10px;
  margin-right: 10px;
  padding: 40px;
  border: 10px solid #615049;
}
#blog-home legend {
  text-align: center;
  font-size: 70px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #F34A4A;
}
#blog-home ul {
  list-style: none;
  color: #F1D3BC;
  padding: 10px;
  line-height: 40px;
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
}
#blog-home li a:link {
  text-decoration: none;
  color: #F1D3BC;
}
#blog-home li a:visited {
  color: #F1D3BC;
}

#blog-1 {
  font-family: "EB Garamond", serif;
  letter-spacing: 1px;
  text-align: center;
}
#blog-1 h1 {
  font-size: 50px;
}
#blog-1 h2 {
  margin-bottom: 10px;
}
#blog-1 h3 {
  margin-bottom: 10px;
}
#blog-1 h5 {
  margin-bottom: 10px;
}
#blog-1 .profile-img {
  border-radius: 50%;
  margin-bottom: 20px;
}
#blog-1 .article-photo {
  margin: 10px;
  width: 80%;
}
#blog-1 p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  word-spacing: -2px;
}

/*# sourceMappingURL=main.css.map */
